.App {
  margin: 0 auto;
  background-color: #efefef;
  width: 70vw;
  max-width: 70vw;
  padding-bottom: 10px;
  margin-top: 1vh;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.page {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  
}

.navbar-content {
  display: flex;
  flex-direction: column;
}