
.product-list-page-container {
    display: flex;
    width: 100%;
}

.product-list-page-list {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    height: max-content;
    align-items: flex-start;
}

.product-list-page-filter {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 12vw;
    height: max-content;
}

.compared-products-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}