
.product-list-page-container {
    display: flex;
    width: 100%;
}

.product-list-page-list {
    margin-top: 2vh;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.product-list-page-filter {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 12vw;
    height: calc(100% - 4vh);
}