
.button {
    display: block;
    padding: 5px;
    transition: background-color .3s ease-in;
}

.button:hover {
    background-color: #0fda3b;
}

.button:active {
    transition: none;
    background-color: #fff70f;
}